bin/**
lib/**
lib64
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/Flashcard-capstone/v17/.wsuo
.vs/Flashcard-capstone/FileContentIndex/read.lock
.vs/Flashcard-capstone/FileContentIndex/fc92fd58-a385-47a0-86b4-2a48f35ef8d4.vsidx
