bin/**
lib/**
lib64
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/Flashcard-capstone/v17/.wsuo
.vs/Flashcard-capstone/FileContentIndex/read.lock
.vs/Flashcard-capstone/FileContentIndex/fc92fd58-a385-47a0-86b4-2a48f35ef8d4.vsidx
.vs/GitHub/FileContentIndex/read.lock
.vs/GitHub/FileContentIndex/ae91e6d0-9e27-4f2f-bc1a-f44108caba1d.vsidx
.vs/GitHub/FileContentIndex/ad7e0ffb-2a1d-4052-8f68-0968a201b05b.vsidx
.vs/GitHub/FileContentIndex/1723237c-1998-46b1-ab14-178a5c44a1b1.vsidx
.vs/GitHub/FileContentIndex/79f57031-4345-481b-af9e-40a58f13e61f.vsidx
.vs/GitHub/FileContentIndex/88d4b160-8838-4be8-8e2f-fe20b5856560.vsidx
.vs/GitHub/FileContentIndex/a2e3463e-2f8f-475d-b248-75088883431d.vsidx
